<div [ngStyle]="{ 'background-image': backgroundAtual }" class="home container-fluid">
    <div class="row d-flex align-items-center" style="height: 100%;">
        <div class="col-6 d-flex justify-content-start">
            <i class="seta fa-solid fa-arrow-left" (click)="anteriorBackground()"></i>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <i class="seta fa-solid fa-arrow-right" (click)="proximoBackground()"></i>
        </div>
    </div>
</div>


<!-- [ngStyle]="{'background-image': backgroundAtual}" -->