.navegacao {
    background: linear-gradient(to right, var(--purpura), var(--violeta));
    border: 2px solid black;
    font-family: monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lista-container {
    width: 90%;
}

.li-nav {
    margin-top: 15px;
    height: 100%;
}

.li-nav:hover {
    margin-top: 15px;
    height: 100%;
}

.link-nav {
    color: black;
    font-size: 1.25em;
    font-weight: bolder;
    letter-spacing: 1.1px;
    color: white;
}

.link-nav:hover {
    color: rgb(199, 199, 199);
}