<div class="carrinho container-fluid py-4">
    <h2 class="text-center mt-5">Meu Carrinho</h2>
    <div class="d-flex flex-column align-items-center mt-5" *ngIf="carrinho.length > 0; else vazio">
        <div class="" *ngFor="let item of carrinho">
            <div class="produto-container d-flex align-items-center my-3">
                <p class="descricao">{{ item.nome }} - <span class="preco"> {{ item.preco | currency }} </span></p>
                <button class="botao ms-3" (click)="removerDoCarrinho(item)">Remover</button>
            </div>
        </div>
        <div class="mt-4 text-center">
            <h4>Total: <span class="preco">{{ calcularTotal() | currency }}</span></h4>
        </div>
        <div class="mt-4">
            <button (click)="finalizarCompra()" class="botao botao-finalizar">Finalizar</button>
        </div>
    </div>
    <ng-template #vazio>
        <p class="carrinho-vazio text-center fs-3">Seu carrinho está vazio!</p>
    </ng-template>
</div>